<%= provide(:title, "Edit Comment") %>
<h1>Edit Comment</h1>
<p class="lead">Please enter the following information on your comment.</p>
<div class="col-sm-4">
  <%= form_for (@comment), url: {action: "update"}, method: :put do |f| %>
      <%= render 'shared/comment_error_messages' %>
      <div class="form-group">
        <%= f.label "Comment" %>
        <%= params.inspect %>
        <%= f.text_area :txt, :class => "form-control", :placeholder => "Comment" %>
      </div>
      <%= f.submit 'Update', :class => "btn btn-default" %>
  <% end %>

  <%= link_to 'Back', :back %>
</div>
