<tr>
    <td>
      <%= link_to user.name, user %>
      <!-- Can delete users only if they are NOT an admin -->
      <!-- Can promote users to admin only if they are not already an admin -->
      <% if signed_in? && current_user.admin? && !user.super_admin? %>
          <% if (!user.admin? || user==current_user || current_user.super_admin?) %>
          | <%= link_to "Delete",
                        user,
                        method: :delete,
                        data: {confirm: "Are you sure you wish to delete this user?"} %>
          <% end %>
          <% if !user.admin?%>
              | <%= link_to "Promote", controller: "users", action: "promote", id: user %>
            <%else%>
              <% if !user.super_admin? &&  (!user.admin? || current_user.super_admin?)%>
                  | <%= link_to "Demote", controller: "users", action: "demote", id: user %>
              <%end%>
            <%end%>
      <%end%>

    </td>
    <td>
      <%= user.email %>
    </td>


      <% if user.user_level == User::SUPER_ADMIN_USER_LEVEL %>
      <td class="success">
        Super Admin
      </td>
      <% elsif user.user_level == User::ADMIN_USER_LEVEL %>
      <td class="info">
        Admin
      </td>
      <% else %>
      <td>
        User
      </td>
      <%end%>

</tr>