<% provide(:title, "Edit User") %>
<h1>Manage your profile</h1>

<p class="lead">
  Update your user information below.
</p>
<div class = "row">
  <div class="col-xs-8">

      <%= form_for(@user, url: users_edit_path, html: {:role => "form", :class => "form-horizontal"}) do |f| %>
        <% render 'shared/error_messages' %>
        <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, :class => "form-control" %>

            <%= f.label :email %>
            <%= f.text_field :email, :class => "form-control ", :disabled => true%>

            <%= f.label :password %>
            <%= f.password_field :password, :class => "form-control" %>

            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, :class => "form-control" %>
        </div>
        <%= f.submit "Save Changes", :class => "btn btn-default" %>
      <% end %>


  </div>
</div>
