<% provide(:title, "Edit User") %>
<h1>Edit <%=@user.name%></h1>

<p class="lead">
  Update your user information below. Please be sure to fill in all fields.
</p>
<div class = "row">
  <div class="col-xs-8">
      <%if current_user?(@user) && !current_user.super_admin? %>
        <div class="pull-right">
          <%= link_to "Remove My Account",
                      @user,
                      method: :delete,
                      data: {confirm: "Are you sure you wish to delete your account?"} %>
        </div>

      <%end%>
      <%= form_for(@user) do |f| %>
        <% render 'shared/error_messages' %>
        <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, :class => "form-control" %>

            <%= f.label :email %>
            <%= f.text_field :email, :class => "form-control ", :disabled => true%>

            <%= f.label :password %>
            <%= f.password_field :password, :class => "form-control" %>

            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, :class => "form-control" %>
        </div>
        <%= f.submit "Save Changes", :class => "btn btn-default" %>
      <% end %>


  </div>
</div>
