<%= provide(:title, "Edit Post") %>
<h1>Edit Post</h1>
<p class="lead">Please enter the following information on your post.</p>
<div class="col-sm-4">
  <%= form_for @post do |f| %>
      <%= render 'shared/post_error_messages' %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, :class => "form-control", :placeholder => "Title" %>
        <%= f.label :txt %>
        <%= f.text_area :txt, :class => "form-control", :placeholder => "Text" %>
        <%= f.label :Category %>
        </br>
        <%= collection_select :category, :category_id, Category.all, :id, :name %>
      </div>
      <%= f.submit %>
  <% end %>
  <%= link_to 'Back', :back %>
</div>
